.all-products-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1em;
    padding: 4vh 5vw;
}

@media screen and (max-width: 800px) {
    .all-products-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 350px) {
    .all-products-container {
        grid-template-columns: 1fr;
    }
}